<div class="contact-form-container">
    <form action="" class="contact-form">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username">
        <label for="org">Organization:</label>
        <input type="text" id="org" name="org">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="message">Message:</label>
        <input type="text" id="message" name="message">
        <input type="submit" value="submit">
    </form>
</div>