// font imports
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=IBM+Plex+Sans&display=swap');
$ibmPlexFont: 'IBM Plex Sans';

// scrollbar coloring
$scrollHue: 160;
$scrollLuminanceStep: 25%; // subtracted from base Luminance to provide scrollbar contrast
$scrollBaseLuminance: 65%;
$scrollSaturation: 0%;

// color variables
$scrollTrackColor: hsl($scrollHue $scrollSaturation $scrollBaseLuminance);
$scrollThumbColor: hsl($scrollHue $scrollSaturation ($scrollBaseLuminance - $scrollLuminanceStep));
$scrollThumbColorHover: hsl($scrollHue $scrollSaturation ($scrollBaseLuminance - $scrollLuminanceStep * 1.5));


html, body {
    font-family: $ibmPlexFont;
    margin: 0;
    max-width: 100%;
    //background-color: #2081c3;
    //background-color: #ececec;

    background-color: hsl(195, 100%, 6%);

    //-ms-overflow-style: none;  /* IE and Edge */
    //scrollbar-width: none;  /* Firefox */

    ::-webkit-scrollbar {
        //display: none;
        width: 1em;
        //min-width: 7px;
        //max-width: 14px;
    }

    ::-webkit-scrollbar-track {
        //display: none;
        background: $scrollTrackColor;
        border-radius: 100vw;
        margin-block: .25em;
    }

    ::-webkit-scrollbar-thumb {
        //display: none;
        background: $scrollThumbColor;
        border-radius: 100vw;
        margin-block: .5em;
        border: .15em solid $scrollTrackColor;

        &:hover {
            background: $scrollThumbColorHover;
        }
    }
} 